# Правила проекта
## Контекст
Saas-система для личного портфолио и сервисного бизнеса.
Стек: HTML, CSS, JavaScript, React + Tailwind CSS.
Уровень разработчика: начинающий.

## Правила
- Объясняй изменения простыми словами
- Не добавляй не нужные библиотеки и фреймворки
- Не усложняй без необходимости
- Не меняй файлы, которые не относятся к задаче
- Если нужно изменить что-то за пределами задачи — сначала скажи что и зачем
- Код должен быть понятен новичку